:root {
  --gradient: linear-gradient(
    180deg,
    rgba(45, 112, 1253, 0.73) 0%,
    #163e92 100%
  );
  --dark: #001747;
  --grey: #b1bacb;
  --grey-border: rgba(210, 210, 210, 0.75);
  --grey-light: #eeeeee;
  --grey-dark: $405175;
  --blue: #2d70fd;
  --green: #00d8a7;
  --white: #ffffff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--gradient);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

h2 {
  text-transform: uppercase;
  color: var(--dark);
  text-align: center;
}

.todo_section {
  background: var(--white);
  width: 60vw;
  height: 50vh;
  max-width: 30rem;
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: 0 1rem 3rem 1rem rgba(0, 23, 71, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form_input {
  display: flex;
  position: relative;
}

.todo_input {
  width: 100%;
  padding: 1.2rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 0.06rem solid var(--dark);
}

.disable {
  color: #8f98a8;
}

.disable {
  display: flex;
  text-decoration: line-through;
}

input[type="text"]::placeholder {
  color: var(--grey);
}

input[type="checkbox"] {
  appearance: none;
  cursor: pointer;
}

input[type="checkbox"]::before {
  content: "\2713";
  display: inline-block;
  width: 2rem;
  aspect-ratio: 1/1;
  font-size: 1.2rem;
  text-align: center;
  border: 0.06rem solid var(--grey-border);
  border-radius: 50%;
  color: transparent;
}

input[type="checkbox"]:checked::before {
  color: var(--white);
  background-color: var(--green);
  border: 0.06rem solid var(--green);
  border-radius: 50%;
}

.add_btn {
  color: var(--white);
  padding: 0.7rem 1.5rem;
  border-radius: 0.3rem;
  background: var(--blue);
  border: 0;
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
}

#todoList p {
  /* background-color: red; */
  display: flex;
  gap: 1rem;
  color: var(--dark);
  align-items: center;
}

.todo-container {
  display: flex;
  gap: 1rem;
}

.scroll {
  height: 15rem;
  scrollbar-width: thin;
  border-radius: 0.6rem;
  overflow-y: scroll;
}

.scroll::-webkit-scrollbar {
  width: 0.6rem;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  border-radius: 0.5rem;
}

.scroll::-webkit-scrollbar-track {
  display: none;
}

.scroll li {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 1.3rem;
}

hr {
  border: 0.06rem solid var(--grey-light);
}

.counter_container {
  height: 2rem;
  color: var(--grey);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete_btn {
  border: none;
  background-color: transparent;
  font-size: 1rem;
  color: var(--grey);
}

footer {
  display: flex;
  gap: 1.8rem;
  background: var(--white);
  padding: 1.2rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
}

.made_by {
  color: var(--grey-dark);
}

.author {
  color: var(--blue);
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .todo_section {
    width: 70%;
    margin: 0 auto;
  }
}
